---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import SectionHead from "@components/section-head.astro";

// Filter blog entries with 'draft: false' & date before current date
const publishedBlogEntries = await getCollection("blog", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

// Sort content entries by publication date
publishedBlogEntries.sort(function (a, b) {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});
---

<Layout title="Blog">
  <Container>
    <SectionHead>
      <Fragment slot="title">My Blog</Fragment>
      <Fragment slot="desc">
        Sharing Insights, Knowledge, and Inspirations.
      </Fragment>
    </SectionHead>
    <main class="mt-16">
      <ul class="mx-auto grid max-w-4xl gap-16">
        {
          publishedBlogEntries.map((blogPostEntry, index) => (
            <li>
              <a href={`/blog/${blogPostEntry.slug}`}>
                <div class="grid items-center gap-5 md:grid-cols-2 md:gap-10">
                  <Picture
                    width={428}
                    height={241}
                    src={blogPostEntry.data.image}
                    alt={blogPostEntry.data.title + "'s cover image"}
                    sizes="(max-width: 800px) 100vw, 800px"
                    widths={[200, 400, 800]}
                    fit="cover"
                    position="center"
                    format="webp"
                    loading={index <= 2 ? "eager" : "lazy"}
                    decoding={index <= 2 ? "sync" : "async"}
                    class="aspect-video w-full rounded-md bg-white"
                  />
                  <div>
                    <span class="text-primary text-sm font-medium tracking-wider uppercase">
                      {blogPostEntry.data.category}
                    </span>

                    <h2 class="mt-1 text-3xl leading-snug font-semibold tracking-tight">
                      {blogPostEntry.data.title}
                    </h2>

                    <div class="mt-3 flex gap-2">
                      <span class="text-gray-600">
                        {blogPostEntry.data.author}
                      </span>
                      <span class="text-gray-600">• </span>
                      <time
                        class="text-gray-600"
                        datetime={blogPostEntry.data.publishDate.toISOString()}
                      >
                        {blogPostEntry.data.publishDate.toDateString()}
                      </time>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </main>
  </Container>
</Layout>
