---
import Container from "@components/container.astro";
import SectionHead from "@components/section-head.astro";
import Layout from "@layouts/Layout.astro";
import PatentCard from "@components/patent-card.astro";

import patents from "@data/patents.json";
import { compareDatesDesc } from "@utils/utils";

const nationalPatents = patents.national.sort((a,b) => compareDatesDesc(a.dateFiled,b.dateFiled));
const internationalPatents = patents.international.sort((a,b) => compareDatesDesc(a.dateFiled,b.dateFiled));
---

<Layout title="Patents">
  <Container>
    <SectionHead>
      <Fragment slot="title">Patents</Fragment>
      <Fragment slot="desc">
        National and International Patents filed by Dr. G. Sreenivasulu, et al.
      </Fragment>
    </SectionHead>

    <div class="mx-auto max-w-4xl">
      <h2 class="text-3xl font-semibold m-4 mt-8">National Patents</h2>
      {
        nationalPatents.map((patent) => (
          <PatentCard
            title={patent.title}
            applicationNumber={patent.applicationNumber}
            dateFiled={patent.dateFiled}
            granted={patent.granted}
          />
        ))
      }
      <h2 class="text-3xl font-semibold m-4">International Patents</h2>
      {
        internationalPatents.map((patent) => (
          <PatentCard
            title={patent.title}
            applicationNumber={patent.applicationNumber}
            dateFiled={patent.dateFiled}
            granted={patent.granted}
          />
        ))
      }
    </div>
  </Container>
</Layout>
