---
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import PatentCard from "@components/patent-card.astro";

import patents from "@data/patents.json";

function compareDatesDesc(a: any, b: any) {
  const dateA = new Date(a.dateFiled.replace(/(\d+)(st|nd|rd|th)/, '$1'));
  const dateB = new Date(b.dateFiled.replace(/(\d+)(st|nd|rd|th)/, '$1'));
  return dateB.valueOf() - dateA.valueOf();
}

const nationalPatents = patents.national.sort(compareDatesDesc);
const internationalPatents = patents.international.sort(compareDatesDesc);
---

<Layout title="Patents">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Patents</Fragment>
      <Fragment slot="desc">
        National and International Patents filed by Dr. G. Sreenivasulu, et al.
      </Fragment>
    </Sectionhead>

    <div class="mx-auto max-w-4xl">
      <h2 class="text-3xl font-semibold m-4 mt-8">National Patents</h2>
      {
        nationalPatents.map((patent) => (
          <PatentCard
            title={patent.title}
            applicationNumber={patent.applicationNumber}
            dateFiled={patent.dateFiled}
            granted={patent.granted}
          />
        ))
      }
      <h2 class="text-3xl font-semibold m-4">International Patents</h2>
      {
        internationalPatents.map((patent) => (
          <PatentCard
            title={patent.title}
            applicationNumber={patent.applicationNumber}
            dateFiled={patent.dateFiled}
            granted={patent.granted}
          />
        ))
      }
    </div>
  </Container>
</Layout>
