---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
  award: CollectionEntry<"awards">;
}

const { award } = Astro.props;

const { title, description, date, images } = award.data;
---

<div
  id="award-gallery"
  class="from-accent/40 to-accent/30 hidden grid-cols-2 gap-4 rounded-2xl bg-linear-to-br p-2 md:grid md:w-4/5 lg:w-3/5"
>
  {
    images.map((image) => (
      <a
        href={image.src}
        data-pswp-width="1024"
        data-pswp-height="576"
        target="_blank"
      >
        <Image
          width={350}
          height={197}
          src={image}
          alt={title}
          sizes="(max-width: 800px) 100vw, 350px"
          loading="eager"
          format="webp"
          class="m-auto aspect-video rounded-2xl object-cover transition duration-100 ease-in-out hover:scale-[101.5%]"
        />
      </a>
    ))
  }
  <div class="flex flex-col items-center justify-center text-center">
    <p class="text-[22px] lg:text-3xl">{title}</p>
    <p class="lg:text-md my-1 text-sm lg:my-2">{description}</p>
    <p class="text-sm">{date}</p>
  </div>
</div>

<div
  id="award-gallery"
  class="from-accent/40 to-accent/30 flex w-full flex-col rounded-2xl bg-linear-to-br md:hidden"
>
  <div
    class="my-2 flex snap-x snap-mandatory gap-x-6 overflow-x-auto overflow-y-hidden scroll-smooth"
  >
    {
      images.map((image) => (
        <a
          class="w-full flex-none snap-center snap-always"
          href={image.src}
          data-pswp-width="900"
          data-pswp-height="506"
          data-cropped="true"
          target="_blank"
        >
          <Image
            width={600}
            height={338}
            widths={[600]}
            src={image}
            alt={title}
            sizes="(max-width: 800px) 100vw, 600px"
            loading="eager"
            format="webp"
            class="m-auto aspect-video h-full w-full rounded-2xl object-cover p-2"
          />
        </a>
      ))
    }
  </div>
  <div class="flex flex-col p-2 text-center">
    <p class="text-xl lg:text-3xl">{title}</p>
    <p class="lg:text-md my-1 text-sm lg:my-2">{description}</p>
    <p class="text-sm">{date}</p>
  </div>
</div>

<style is:inline>
  .pswp__img {
    object-fit: cover;
  }
</style>
