---
import { Picture } from "@astrojs/image/components";

export interface Props {
  title: string;
  description: string;
  cover_photo: string;
  published_url: string;
}

const { title, description, cover_photo, published_url } = Astro.props;
---

<a href={published_url} target="_blank" aria-label={`${title} published URL`}>
  <div
    class="flex flex-col w-64 items-center justify-center border border-gray-400 border-opacity-50 rounded-lg p-4 hover:scale-105 hover:ease-in-out transition duration-150">
    <Picture
      width={224}
      height={299}
      src={cover_photo}
      alt={`${title}'s cover photo'`}
      class:list={"w-56 rounded-lg shadow-sm"}
      sizes="(min-width: 768px) 187px, 224px"
      aspectRatio={"3:4"}
      widths={[187, 224]}
      format={"webp"}
      loading={"eager"}
    />
    <p class="text-xl font-semibold self-center m-1 mt-2 text-center">
      {title}
    </p>
    <p class="w-56 text-center">{description}</p>
  </div>
</a>
