---
import { Picture } from "astro:assets";
import type { CollectionEntry } from "astro:content";

export interface Props {
  book: CollectionEntry<"booksPublished" | "bookChapters">;
}

const { book } = Astro.props;
const { title, description, coverPhoto, publishedURL, yearPublished } =
  book.data;
---

<a
  href={publishedURL}
  target="_blank"
  aria-label={title}
  class="mx-4 w-full justify-self-center rounded-lg border-2 transition duration-200 ease-linear hover:scale-[102%]"
>
  <article class="m-3 items-center sm:m-2 sm:flex sm:gap-9">
    <div class="overflow-hidden rounded-lg sm:w-48">
      <Picture
        src={coverPhoto}
        alt={`${title}'s cover photo'`}
        widths={[400, 600, 800, 1200]}
        sizes="(max-width: 640px) 90vw, 192px"
        loading="eager"
        format={"avif"}
        width={143}
        height={200}
        class="aspect-[3/4] w-full sm:w-48"
      />
    </div>
    <div class="w-full pt-6 sm:py-0">
      <p class="mb-1 space-x-2 text-xl font-semibold">
        {title}
      </p>
      <div class="mb-2 flex flex-col gap-2 sm:flex-row sm:items-baseline">
        <p class="space-x-0.5 text-sm">
          <span class="text-zinc-800">Dr. G. Sreenivasulu</span>{" "}
          <span>&middot;</span>
          <span class="pr-0 text-zinc-800 sm:pr-2">{yearPublished}</span>
        </p>
      </div>
      <p class="py-1 leading-relaxed">{`${description}`}</p>
    </div>
  </article>
</a>
