---
const navigation = [
  { title: "Home", path: "/" },
  { title: "Awards", path: "/awards" },
  { title: "Blog", path: "/blog" },
  { title: "Achievements", path: "/achievements" },
  { title: "Journals & Conferences", path: "/journals-and-conferences" },
  { title: "Patents", path: "/patents" },
  { title: "Book Chapters", path: "/book-chapters" },
  { title: "Books Published", path: "/books-published" },
  { title: "Resources", path: "/resources" },
];

const socials = [
  { title: "Email", URL: "mailto:contact@sreenivasulu.com", target: "_self" },
  { title: "LinkedIn", URL: "https://www.linkedin.com/in/g-sreenivasulu/" },
  { title: "Github", URL: "https://github.com/g-sreenivasulu/" },
  { title: "Facebook", URL: "https://www.facebook.com/sreenivasulu.gogula/" },
];
---

<footer class="mt-20 bg-[#141414] py-12">
  <div class="container mx-auto flex justify-center lg:pl-28">
    <div class="flex w-full flex-wrap justify-center">
      <div class="mb-8 w-full px-4 md:mb-0 md:w-1/4">
        <p class="mb-4 text-lg leading-tight text-white">Dr. G. Sreenivasulu</p>
        <button
          class="rounded-sm bg-white/95 px-4 py-2 font-semibold text-black hover:bg-white"
        >
          <a href="/contact">Contact</a>
        </button>
      </div>

      <div class="mb-8 w-full px-4 md:mb-0 md:w-1/4">
        <p class="mb-4 text-lg leading-tight text-white">Navigation</p>
        <ul class="leading-loose text-white/70">
          {
            navigation.map(({ title, path }) => (
              <li>
                <a href={path} class="hover:text-white">
                  {title}
                </a>
              </li>
            ))
          }
        </ul>
      </div>

      <div class="mb-8 w-full px-4 md:mb-0 md:w-1/4">
        <p class="mb-4 text-lg leading-tight text-white">Socials</p>
        <ul class="leading-loose text-white/70">
          {
            socials.map(({ title, URL, target = "_blank" }) => (
              <li>
                <a target={target} href={URL} class="hover:text-white">
                  {title}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>

  <div class="mt-6 mb-2 text-center">
    <a class="text-white/70 hover:underline" href="/terms">Terms</a>
  </div>

  <p class="text-center text-sm text-white/80">
    Copyright © {new Date().getFullYear()} Dr. Sreenivasulu Gogula
  </p>

  <p class="pt-4 text-center text-sm text-white/80">
    built by
    <a
      href=`https://velopulent.com/`
      target="_blank"
      class="bg-linear-to-tl from-slate-400 via-violet-500 to-slate-400 bg-clip-text font-semibold text-transparent"
    >
      Velopulent
    </a>
  </p>
</footer>
