---
import TimeLineElement from "./timeline.astro";
import profile from "@data/profile.json" ;

const biodata = profile.profilesection;
const education = profile.education;
const experience = profile.experience;
const certificates = profile.certificates;
const subjects = profile.subjects;
---

<div>
    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Profile</div>
    </div>
  
    <div class="mb-10 mx-4 text-left">
      {biodata}
    </div>
    
    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Experience</div>
    </div>
    
    <div class="time-line-container grid gap-4 mb-10">
      {
        experience.map((experience) =>(
          <TimeLineElement
          title = {experience.college}
          subtitle={experience.timespan}
          />
          ))
        }
    </div>

    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Education</div>
    </div>
  
    <div class="time-line-container grid gap-4 mb-10">
      {
        education.map((education) =>(
          <TimeLineElement
            title = {education.degree}
            subtitle={education.timespan}
          />
        ))
      }
    </div>
    
    <div class="mb-5">
      <div class="text-3xl w-full font-bold">
        NPTEL & Coursera-AICTE Certifications
      </div>
    </div>
  
    <ul class="list-disc mx-6 mb-10 grid gap-2">
      {certificates.map((certificate) => <li>{certificate}</li> )}
    </ul>
  
    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Subjects Taught</div>
    </div>
  
    <ul class="list-disc mx-6 mb-10 grid gap-2">
      {subjects.map((subject) => <li>{subject}</li> )}
    </ul>
  </div>
  