---
import TimeLineElement from "./timeline.astro";
import profile from "@data/home.json";

const bioData = profile.profileSection;
const education = profile.education;
const experience = profile.experience;
const certificates = profile.certificates;
const subjects = profile.subjects;
---

<div>
  <div class="mb-5">
    <div class="w-full text-3xl font-bold">Profile</div>
  </div>

  <div class="mx-4 mb-10 text-left">
    {bioData}
  </div>

  <div class="mb-5">
    <div class="w-full text-3xl font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10 grid gap-4">
    {
      experience.map((experience) => (
        <TimeLineElement
          title={experience.college}
          subtitle={experience.timeSpan}
        />
      ))
    }
  </div>

  <div class="mb-5">
    <div class="w-full text-3xl font-bold">Education</div>
  </div>

  <div class="time-line-container mb-10 grid gap-4">
    {
      education.map((education) => (
        <TimeLineElement
          title={education.degree}
          subtitle={education.timeSpan}
        />
      ))
    }
  </div>

  <div class="mb-5">
    <div class="w-full text-3xl font-bold">
      NPTEL & Coursera-AICTE Certifications
    </div>
  </div>

  <ul class="mx-6 mb-10 grid list-disc gap-2">
    {certificates.map((certificate) => <li>{certificate}</li>)}
  </ul>

  <div class="mb-5">
    <div class="w-full text-3xl font-bold">Subjects Taught</div>
  </div>

  <ul class="mx-6 mb-10 grid list-disc gap-2">
    {subjects.map((subject) => <li>{subject}</li>)}
  </ul>
</div>
